html, body, div{
    height: 100%;
    margin: 0;
    background: #f1f1f1;
}
.main{
    height: 100px;
    position: relative;
}
.btn{
    color: #fff;
    background-color: #337ab7;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    margin: 32px;
    cursor: pointer;
    display: none;
}
.btn:hover{
    background-color: #286090;
    border-color: #204d74;
}
#time{
    position: absolute;
    top: 20%;
    left: 49%;
    width: 0;
    height: 35px;
    font-size: 45px;
    font-family: monospace;
}
.iframe{
    height: calc(100% - 105px);
}